<div class="page-header">
  <h1>
    Flights
    <a href="/flights/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <h1>Progress</h1>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-2">
    <p><%= @program.t1_name %></p>
  </div>
  <div class="col-xs-8">
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; max-width: 100em; width: <%= @t1_completion %>%;">
        <span><%= number_to_percentage(@t1_completion, precision:0) %> Complete</span>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  <% if @t1_remaining > 0 %>
    <p><%= number_with_delimiter(@t1_remaining) %> Miles Remaining</p>
    <% else %>
    <p>0 Miles Remaining</p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <p><%= @program.t2_name %></p>
  </div>
  <div class="col-xs-8">
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; max-width: 100em; width: <%= @t2_completion %>%;">
        <span><%= number_to_percentage(@t2_completion, precision:0) %> Complete</span>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <% if @t2_remaining > 0 %>
    <p><%= number_with_delimiter(@t2_remaining) %> Miles Remaining</p>
    <% else %>
    <p>0 Miles Remaining</p>
    <% end %>  </div>
  </div>

<div class="row">
  <div class="col-xs-2"
  <h1><%= @program.t3_name %></h1>
</div>
  <div class="col-xs-8">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; max-width: 100em; width: <%= @t3_completion %>%;">
        <span><%= number_to_percentage(@t3_completion, precision:0) %> Complete</span>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <% if @t3_remaining > 0 %>
    <p><%= number_with_delimiter(@t3_remaining) %> Miles Remaining</p>
    <% else %>
    <p>0 Miles Remaining</p>
    <% end %>
  </div>
</div>

<% if @program.t4_name != nil %>
<div class="row">
  <div class="col-xs-2"
  <h1><%= @program.t4_name %></h1>
</div>
<div class="col-xs-8">
  <div class="<%= 'progress' if @program.t4_name != nil %>" >
    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; max-width: 100em; width: <%= @t4_completion %>%;">
      <span><%= number_to_percentage(@t4_completion, precision:0) %> Complete</span>
    </div>
  </div>
</div>
<div class="col-xs-2">
  <% if @t4_remaining > 0 %>
  <p><%= number_with_delimiter(@t4_remaining) %> Miles Remaining</p>
  <% else %>
  <p>0 Miles Remaining</p>
  <% end %></div>
</div>

<% else %>

<% end %>

<hr>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Flights</div>

  <!-- Table -->
  <table class="table">
    <th>Program</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Miles Flown</th>
    <th>Actions</th>
    <% @flights.each do |flight| %>
    <tr>
     <td><%= flight.program.program_name %></td>
     <td><%= flight.origin_airport.airport_code %></td>
     <td><%= flight.destination_airport.airport_code %></td>
     <td><%= flight.miles_flown %></td>
     <td>
      <a href="/flights/<%= flight.id %>" class="btn btn-primary">
        <i class="fa fa-search-plus"></i>
      </a>

      <a href="/flights/<%= flight.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>

      <a href="/delete_flight/<%= flight.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
   <% end %>
 </table>
</div>

<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
