<!-- Validation failure messages -->

<% if @airport.errors.any? %>
  <% @airport.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Airport</h3>
      </div>
      <div class="panel-body">
        <form action="/create_airport" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for airport_code -->
          <div class="form-group">
            <label for="airport_code" class="col-sm-2 control-label">
              Airport code
            </label>
            <div class="col-sm-10">
              <input type="text" id="airport_code" name="airport_code" placeholder="Airport code" class="form-control" value="<%= @airport.airport_code %>">
            </div>
          </div>

          <!-- Label and input for airport_name -->
          <div class="form-group">
            <label for="airport_name" class="col-sm-2 control-label">
              Airport name
            </label>
            <div class="col-sm-10">
              <input type="text" id="airport_name" name="airport_name" placeholder="Airport name" class="form-control" value="<%= @airport.airport_name %>">
            </div>
          </div>

          <!-- Label and input for latitude -->
          <div class="form-group">
            <label for="latitude" class="col-sm-2 control-label">
              Latitude
            </label>
            <div class="col-sm-10">
              <input type="text" id="latitude" name="latitude" placeholder="Latitude" class="form-control" value="<%= @airport.latitude %>">
            </div>
          </div>

          <!-- Label and input for longitude -->
          <div class="form-group">
            <label for="longitude" class="col-sm-2 control-label">
              Longitude
            </label>
            <div class="col-sm-10">
              <input type="text" id="longitude" name="longitude" placeholder="Longitude" class="form-control" value="<%= @airport.longitude %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Airport
              </button>
              or
              <a href="/airports">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
